fastapi
uvicorn
requests
python-dotenv
langchain
langchain-openai
langchain-community
langchain-postgres
langchain-text-splitters
typing_extensions
python-multipart
psycopg2-binary
azure-storage-blob
unstructured[all-docs]
python-magic


