fastapi
uvicorn
requests
python-dotenv
langchain
langchain-openai
langchain-community
langchain-text-splitters
typing_extensions
python-multipart
azure-storage-blob
azure-search-documents
azure-core
unstructured[all-docs]
azure-identity
python-magic
